html {
  scroll-behavior: smooth;
}
@media screen and (max-width: 1400px) {
  .container {
    max-width: calc(100% - 180px);
  }
}

@media screen and (max-width: 1200px) {
  .grid {
    gap: 28px;
  }

  .home__data {
    padding-right: 40px;
  }

  .home__title {
    font-size: var(--big-font-size);
  }

  .home__description {
    font-size: var(--small-font-size);
  }

  .stats__title {
    padding-left: 35px;
  }

  .stats__title::before {
    width: 22px;
  }

  .skills__container {
    row-gap: 32px;
  }

  .progress__circle {
    width: 100px;
    height: 100px;
  }

  .skills__title {
    margin-top: 10px;
  }

  .resume__icon {
    width: 36px;
    height: 36px;
    line-height: 38px;
  }

  .resume__item {
    padding-left: 55px;
  }

  /* .modal__close {
    width: 40px;
    height: 40px;
  } */
  .portfolio__modal-content {
    max-width: 600px;
  }

  .form__input-group {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }

  .form__input-div {
    margin-bottom: 24px;
  }

  .form__input-group .form__input-div:last-child {
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 720px;
  }

  .home {
    padding: 20px;
    grid-template-columns: 5fr 7fr;
  }

  .home__data {
    padding-right: 0;
  }

  .section {
    padding-block: 50px;
  }

  .section__title {
    margin-bottom: 49px;
  }

  .about__container,
  .resume__container {
    grid-template-columns: 1fr;
  }

  .about__container {
    row-gap: 40px;
  }

  .subtitle__center {
    margin-bottom: 45px;
  }

  .skills__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .resume__container {
    row-gap: 45px;
  }

  .resume__item:not(:last-child) {
    margin-bottom: 45px;
  }

  .separator {
    margin: 65px auto 50px;
  }
}

@media screen and (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
  }
}
